* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.header_wrapper {
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
}

.logo {
    display: flex;
    column-gap: 10px;
}

.logo-img {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
    line-height: 1.5em;
    color: #666;
    font-weight: bold;
    font-family: "Segoe UI";
    text-align: right;
}

.logo-text span {
    color: #0067b8;
}

.nav {
    list-style-type: none;
    display: flex;
}

.nav a {
    font-size: 15px;
    color: #262626;
    font-family: "Segoe UI";
    text-decoration: none;
}

.nav >li>a {
    display: block;
    padding: 15px 23px;
}

.nav .hhh > a {
    padding-right: 50px;
}

.submenus ul {
    max-width: 155px;
}

.submenus li {
    margin-bottom: 20px;
}

.search {
    width: 264px;
    height: 38px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #999999;
    padding: 0 17px;
    right: 140px;
}

.right {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.left {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.login a {
    font-size: 15px;
    line-height: 2em;
    color: #262626;
    font-family: "Segoe UI";
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1171px;
}

.ad {
    background: url('../img/Layer7.webp') no-repeat center/contain;
    width: 100%;
    max-width: 1171px;
    min-height: 540px;
    margin: 0 auto;
    padding-top: 30px;
}

.ad div {
    padding-top: 189px;
    padding-left: 71px;
}

.ad div>button {
    display: flex;
    align-items: center;
    width: 230px;
    height: 45px;
    background-color: #ffffff;
    border: none;
    column-gap: 20px;
    padding: 0 26px;
    white-space: nowrap;
}

.ad div>button p {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #262626;
    font-family: "Segoe UI";
}

.p1 {
    font-size: 46px;
    color: #fff;
    font-weight: bold;
    font-family: "Segoe UI";
    padding-bottom: 22px;
}

.p2 {
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    font-family: "Segoe UI";
    margin-bottom: 30px;
}

.perelik {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0d0d0d;
    font-weight: bold;
    font-family: "Segoe UI";
    text-align: center;
    padding-top: 50px;
    padding-bottom: 41px;
}

.figname {
    font-size: 20px;
    line-height: 1.2em;
    color: #0d0d0d;
    font-weight: bold;
    font-family: "Segoe UI";
    padding: 25px 0 13px;
}

.details {
    width: 264px;
    min-height: 70px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4em;
    color: #262626;
    font-family: "Segoe UI";
}

.figlink {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #0067b8;
    font-family: "Segoe UI";
}

.figlink1 {
    max-width: 270px;
}


.figlink,
.figlink1 {
    text-decoration: none;
}

.figlink:hover,
.figlink1:hover {
    text-decoration: underline;
}

.figlink img,
.figlink1 img {
    width: 5px;
    height: 9px;
}

.picture {
    transition: all .3s ease;
}

.picture:hover {
    transform: scale(1.1);
}

.ad2 {
    background: url('../img/ad2.webp') no-repeat center/contain;
    width: 100%;
    max-width: 1171px;
    min-height: 540px;
    margin: 0 auto;
    padding-top: 67px;
}

.ad2 div>button {
    border: none;
    transition: all .3s ease;
}

.n1 {
    width: 500px;
    font-size: 46px;
    color: #0d0d0d;
    font-weight: bold;
    font-family: "Segoe UI";
    padding-bottom: 31px;
}

.n2 {
    width: 467px;
    height: 46px;
    font-size: 16px;
    line-height: 1.5em;
    color: #0d0d0d;
    font-family: "Segoe UI";
    padding-bottom: 30px;
}

.ad2 button>img {
    width: 6px;
    height: 10px;
}

.ad2 button {
    width: 230px;
    height: 45px;
    background-color: #0d0d0d;
    display: flex;
    padding: 0 26px;
    align-items: center;
}

.ad2 button>p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Segoe UI";
}

.ad2 div {
    padding: 165px 0 0 69px;
}

.lookforus p {
    opacity: 0.702;
    font-size: 15px;
    line-height: 2em;
    color: #262626;
    font-family: "Segoe UI";
    text-align: center;
}

.icons {
    padding-top: 19px;
    display: flex;
    justify-content: center;
    column-gap: 14px;
    padding-bottom: 54px;
}

.icons img {
    transition: all .3s ease;
}

.icons img:hover {
    transform: scale(1.2);
}

.footer {
    background-color: #f2f2f2;
    padding: 58px 0 30px 0;
}

.footer-wrapper ul>li>p {
    font-size: 15px;
    line-height: 1.6em;
    color: #616161;
    font-weight: bold;
    font-family: "Segoe UI";
}

.footer-wrapper ul>li a {
    font-size: 13px;
    line-height: 1.4em;
    color: #616161;
    font-family: "Segoe UI";
    text-align: right;
    text-decoration: none;
}

.footer-wrapper ul>li a:hover {
    text-decoration: underline;
}

.footer-wrapper ul>li {
    padding-bottom: 20px;
}

.footer-wrapper ul {
    list-style-type: none;
}

.lang {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.lang a {
    font-size: 12px;
    line-height: 1.6em;
    color: #616161;
    font-family: "Segoe UI";
    text-decoration: none;
}

.lang img {
    width: 14px;
    height: 15px;
}

.links {
    display: flex;
    column-gap: 27px;
    font-size: 12px;
    line-height: 1.6em;
    font-family: "Segoe UI";
}

.links a {
    color: #616161;
    text-decoration: none;
}

.footer_bottom {
    padding-top: 61px;
}

.arrow {
    padding-left: 15px;
}

.ad2 div>button:hover {
    background-color: #fff;
}

.ad2 div>button:hover>p {
    color: #000;
}

.ad div>button:hover {
    background-color: #000;
}

.ad div>button:hover>p {
    color: #fff;
}

.ad div>button {
    transition: all .3s ease;
}

.test{
    position: relative;
    display: block;
}


.test:after,
.test8:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 70px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #0067b8;
    border-right: 1px solid #0067b8;
    transform: translateY(-50%) rotate(45deg);
    transition: all .4s ease;
}


.test:hover:after,
.test8:hover:after {
    transform: translateY(-50%) rotate(135deg);
    border-color: #0067b8;
}

.test3 {
    position: relative;
    display: block;
}

.test3:after {
    content: "";
    position: absolute;
    top: 75%;
    right: 130px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #0067b8;
    border-right: 1px solid #0067b8;
    transform: translateY(-50%) rotate(45deg);
    transition: all .4s ease;
}

.test3:hover:after {
    transform: translateY(-50%) rotate(135deg);
    border-color: #0067b8
}

.test5:after {
    right: 20px;
    border-color: #fff;
}

.test5:hover:after {
    border-color: #000;
}

.test6:after {
    right: 20px;
    border-color: #000;
}

.test6:hover:after {
    border-color: #fff;
}

.test7:after {
    right: 26px;
    border-color: #888;
    transform: translateY(-50%) rotate(135deg);
}

.hhh:hover > .test7:after {
    border-color: #888;
    transform: translateY(-50%) rotate(-45deg);
}

.hhh:hover > .test7 {
    background-color: #f2f2f2;
    border: solid 1px #e6e6e6;
} 

.test7 {
    box-sizing: border-box;

}

.submenus {
    position: relative;
    z-index: 10;
    display: none;
    margin: 0 auto;
}

.hhh:hover>.submenus {
    display: block;
    width: 100%;
}

.submenus {
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: 50px;
    padding: 36px 0 0 ;
}

.submenus p {
    font-size: 15px;
    padding-bottom: 4px;
    color: #262626;
    font-weight: bold;
    font-family: "Segoe UI";
    min-height: 35px;
}

.all {
    background-color: #e6e6e6;
    width: 100%;
    text-align: center;
}

.all a {
    display: inline-block;
    padding: 13px 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #262626;
    font-family: "Segoe UI";
}

.test8 {
    position: relative;
}

.test8::after {
    border-color: #000;
    right: -20px;
}

.test8:hover::after {
    border-color: #000;
}

.icon {
    display: block;
    position: relative;
    padding-left: 11px;
}

.icon:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/Sprite.png) no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
    transition: all .4s ease;
}

.cart a:before {
    background-position: -129px -21px;
    width: 18px;
    height: 15px;
    left: -5px;
}

.cart:hover > a:before {
    background-position: -129px -38px;
}

.search-icon {
    position: relative;
}

.search-icon a:before {
    background-position: -112px -21px;
    width: 15px;
    height: 15px;
}

.search-icon:hover > a:before {
    background-position: -112px -38px;
}

.ie a:before {
    background-position: 1px 1px;
    width: 37px;
    height: 37px;
}

.ch a:before {
    background-position: -75px -1px;
    width: 35px;
    height: 35px;
}

.op a:before {
    background-position: -38px -1px;
    width: 35px;
    height: 35px;
}

.lang-icon a:before {
    background-position: -149px -21px;
    width: 14px;
    height: 15px;
}

.lang-icon:hover > a::before {
    background-position: -149px -38px;
}

.icons {
    margin-left: 16px;
    column-gap: 34px;
}